/TRABAJOS/PoliformismoAves/nbproject/private/
/TRABAJOS/PoliformismoAves/build/
/TRABAJOS/PatronSOLID/Figuras E1/nbproject/private/
/TRABAJOS/PatronSOLID/Figuras E1/build/
/TRABAJOS/PatronSOLID/ConfiguracionE2/nbproject/private/
/TRABAJOS/PatronSOLID/ConfiguracionE2.1/nbproject/private/
/TRABAJOS/PatronSOLID/FacturaSRP/nbproject/private/
/TRABAJOS/PatronSOLID/FacturaSRP/build/
/TRABAJOS/PatronSOLID/FacturaDIP/nbproject/private/
/TRABAJOS/PatronSOLID/FacturaDIP/build/
/TRABAJOS/PatronSOLID/EmailISPE5/nbproject/private/
/TRABAJOS/PatronSOLID/EmailISPE5/build/
